messages_*.mo
smartyfolders/templates_c/*.php
composer.lock
vendor/*
support/dba.php

smartyfolders/touchfile.txt

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
